
body {
    background-color: rgb(32, 32, 32);
    color: white;
}
.list{
    margin-top: 2px;
    margin-bottom: 2px;
}

h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    margin-top: 3px;
    margin-bottom: 0px;
}
.imgsize{
    width: 20%;
    height: 20%;
}
.bottom{
    width: auto;
    height: auto; 
}

p{
    margin-top: 10px;
    margin-bottom: 24px;
}
.p2{
    margin-top: 16px;
    margin-bottom: 5px;
}